*.log
*.o
*.elf
*.map
*.d
**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
**/*.X/debug
**/*.X/dist
**/*.X/build
**/.generated_files/**
**/*.X/.ca/**
**/*.X/nbproject/Makefile-*
*.hex
*.pyc
**/__pycache__/**
**/tools/SRecord/include
**/tools/SRecord/lib
**/tools/SRecord/bin
**/tools/SRecord/share/doc/srecord/htdocs